{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'main/css/bootstrap.css' %}" rel="stylesheet">
    
    <script defer src="{% static 'main/js/bootstrap(header).js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link rel="script" href="{% static 'main/js/script.js' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!--Шапка-->

    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
      <div class="wrapper">
        
      </div>
<div class="container-fluid all-show" style="border-color: none none red; ">
  
  <a class="navbar-brand" href="{% url 'main' %}" style="margin-right: 4%;">
      <img src="{% static 'main/images/logo_grey.svg' %}" alt="Bootstrap" width="40" height="50" style="transform: rotate(45deg); margin-left: 5%; margin-right: 8%;">
    ROCKOPEDIA <i class="fa fa-codepen"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'news' %}"><h5>Новости</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'concerts' %}"><h5>Концерты</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'forum' %}"><h5>Форум</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'artists' %}"><h5>Исполнители</h5></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' request.user.id %}"><h5>Профиль</h5></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signin' %}"><h5>Войти</h5></a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
      </li>
      
      
    </ul>

  </div>
</div>

</nav>

<div class="line"></div>

    <!---->
    <div class="row align-items-start">
      <div class="col-2" style="background-color: rgb(33, 33, 33); padding-bottom: 100%;">
        <div style="margin-top: 5%; color: #ececec;">
        <h5 style="color: gray; margin-left: 4%;">Популярные категории</h5>
        <div class="container">
          <a href="{% url 'myposts' %}">
          <div class="con">
          <img src="{% static 'main/images/group.svg' %}" style="width: 20%;">
          Мои посты
          </div>
          </a>
        </div>


        <div class="container">
          <a href="{% url 'cat_post' 2 %}">
          <div class="con">
          <img src="{% static 'main/images/guitar.svg' %}" style="width: 20%;">
          Инструменты
          </div>
          </a>
        </div>


        <div class="container">
          <a href="{% url 'cat_post' 3 %}">
          <div class="con">
          <img src="{% static 'main/images/pick.svg' %}" style="width: 20%;">
          Ноты
          </div>
          </a>
        </div>

      </div>
      </div>

      {% block content %}{% endblock %}

  <div class="col-2">
    <div class="add">
    <img src="{% static 'main/images/add.png' %}" class="img-thumbnail" alt="...">
    </div>
    
  </div>
    
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); width: 100%;">
        © 2023 Copyright: ROCKOPEDIA
      </div>

      
    </div>

    <script src="{% static 'main/js/script.js' %}"></script>
    <script src="{% static 'main/js/jquery.js' %}"></script>
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.js' %}" crossorigin="anonymous"></script>
</body>
</html>