{% extends 'main/base.html' %}
{% load static %}
{% block title %} Профиль {% endblock %}
{% block content %}


<div class="col-8">

    <section>
      
      <article class="profile" style="margin-bottom: 60%; max-width: 100%; margin-left: auto; margin-right: auto;">
        <!-- <div class="profile-image">
            {% if image.img.url %}
          <img src="{{image.img.url}}">
            {% else %}
            <img src="{% static 'main/images/default_image_user.png' %}">
            {% endif %}
        </div> -->
        <h3>Загрузить новое изображение</h3>
        <div class="profile-actions">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.img}}
            <button type="submit">Отправить</button>
          </form>
        </div>
      </article>

    </section>

</div>

{% endblock %}