{% extends 'main/base.html' %}
{% load static %}
{% block title %} Концерты {% endblock %}
{% block content %}

<div class="col-8">

    <section>
      <h2 style="margin-left: auto; margin-right: auto;">Концерты</h2>
      {% for con in concerts %}
      <div class="mb-5"><a href="{{con.concert.link}}">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{con.img.url}}" class="d-block w-100 rounded" alt="..." style="object-fit: cover; height: 395px;">
            <div class="carousel-caption" style="visibility: visible;">
                <h2 style="text-shadow: 3px 3px 3px black;">{{con.concert.title}} - {{con.concert.date_of}} в {{con.concert.time_of}}</h2>
            </div>
          </div>
        </div>
      </div></a>
    </div>
      {% endfor %}
      
      <!-- <div class="conc">
        <h3 style="margin-left: auto; margin-right: auto;">Концерт группы Любэ 17.09.2023</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./static/img/Сним0к.JPG" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <p>Концерт 1</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>

    
  </div>

{% endblock %}