{% extends 'main/base.html' %}
{% load static %}
{% block title %} Исполнители {% endblock %}
{% block content %}

<div class="col-8">

    <section>   
      
      <h2 style="margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 5%;">Правила общения на форуме</h2>

      <h3 style="margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 5%;">Основные правила</h3>
      <p>
        &#9940 Всегда относитесь с добротой и уважением к остальным участникам, даже если вы с ними не согласны.
      </p>
      <p>
      &#9940 Придерживайтесь темы и не меняйте ее намеренно; никакого троллинга и спама.
      </p>
      <p>
      &#9940 Используйте только уместную лексику.
      </p>
      <p>
      &#9940 Не оскорбляйте и не обижайте других нарочно.
      </p>
      <p>
      &#9940 На форуме не допускаются проявления ненависти, унижение, агрессия и дискриминация, равно как и сексистские, расистские и ксенофобские высказывания.
      </p>

      <h3 style="margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 5%; margin-top: 5%;">На форуме запрещено</h3>
      <p>
      &#9940  Публиковать ссылки на фишинговые сайты, вирусы и шпионские программы.
      </p>
      <p>
      &#9940 Любое поощрение к употреблению наркотиков или алкоголя.
      </p>
      <p>
      &#9940 Публиковать заведомо ложную информацию.
      </p>
      <p>
      &#9940 Угрожать насилием или раскрытием личной информации — даже в шутку.
      </p>
      <p>
      &#9940 Подстрекать других к нарушению этих правил.
      </p>
          
    </section>

</div>

{% endblock %}