{% extends 'main/base.html' %}
{% load static %}
{% block title %} Профиль {% endblock %}
{% block content %}

<div class="col-8">

  <section>

    <article class="profile" style="margin-bottom: 60%; max-width: 350px; margin-left: auto; margin-right: auto;">
      <h2 class="profile-username">Логин: {{user.username}}</h2>

      <small class="profile-user-handle">ФИО: {{user.first_name}}</small>
      <form action="" method="post">
        {% csrf_token %}
      <div class="input-group mt-5">
        {{form.first_name}}
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
     </form>
      <div class="profile-actions">
        <a href="{% url 'logout' %}"><button class="btn btn--primary" style="margin-top: 15%;">Выйти</button></a>
      </div>
    </article>


  </section>

</div>

{% endblock %}